<div class="span4">
    <aside class="right-sidebar">
        <div class="widget">
            <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-square btn-theme">Search</button>
            </form>
        </div>
        <div class="widget">
            <h5 class="widgetheading">Services</h5>
            <ul class="cat">
                <li><i class="icon-angle-right"></i><a href="/NewPickUpOrder">Pick Up Goods</a><span></span></li>
                <li><i class="icon-angle-right"></i><a href="/NewDeliveryOrder">Delivery Goods</a><span></span></li>
                <li><i class="icon-angle-right"></i><a href="/ViewMyOrders">My Orders</a><span></span></li>
                <li><i class="icon-angle-right"></i><a href="/MyWarehouse">My Warehouse</a><span></span></li>
                <li><i class="icon-angle-right"></i><a href="/ViewOrdersHistory">Order History</a><span></span></li>
            </ul>
        </div>
      
        <div class="widget">
            <h5 class="widgetheading">About Us</h5>
            <ul class="tags">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Forums</a></li>
                <li><a href="#">Conditions</a></li>
            </ul>
        </div>
    </aside>
</div>