{% extends 'layout.html' %}

{% block body %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span7">
                <div class="inner-heading">
                    <h2>Warematic Clients</h2>
                </div>
            </div>
            <div class="span5">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="">Warehouse</a><i class="icon-angle-right"></i></li>
                    <li class="active">Report - Clients </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <article>
                    <div class="row">
                        <div class="span12">
                            <div class="post-image">
                                <div class="post-heading" style="text-align: center;">
                                    <h3>Active <strong>Clients</strong> Report</h3>
                                </div>
                                {% include 'includes/_messages.html' %}
                            </div>
                            <div class="row">
                                <div class="span12">
                                    <form class="form-search">
                                        <input placeholder="Enter a keyword" name="order_id" type="text" class="input-medium search-query">
                                        <button type="submit" class="btn btn-square btn-theme">Search</button>
                                    </form>
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                        <tr style="background-color:#f5f4f3;">
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone #</th>
                                            <th>Street</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Zip Code</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                    {%  for client in clients %}
                                        <tr>
                                            <td> {{client.First_Name}} </td>
                                            <td> {{client.Last_Name}} </td>
                                            <td> {{client.User_Name}} </td>
                                            <td> {{client.User_Phone}} </td>
                                            <td> {{client.Street_Address}} &nbsp; {{client.House_Address}}</td>
                                            <td> {{client.City}} </td>
                                            <td> {{client.State}} </td>
                                            <td> {{client.ZipCode}} </td>
                                        </tr>
                                    {%  endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="pagination">
                                <span class="all">Page 1 of 3</span>
                                <span class="current">1</span>
                                <a href="#" class="inactive">2</a>
                                <a href="#" class="inactive">3</a>
                            </div>
                            <div class="bottom-article">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}