<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body style="background: #f7f7f7;">
        <div style="width:65%; margin-left:auto; margin-right: auto; padding: 10px; margin-top:10px; background: white;">
            <p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 35px;">
                <span style="color: #f03a02;">W</span>AREMATIC <br />
                <span style="text-align: center; color: #2e2e2e; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px;">
                    Automated Warehouse Logistic
                </span>
            </p>
            <p style="text-align: center; font-weight: bold; color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 24px;">
                A New Pick Up Order Has Been Placed
            </p>
            <div style="width: 70%; margin-left: auto; margin-right: auto;">
            <p style="text-align: right; color: #757571; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 17px;">
                <span >ORDER: 0001</span>
            </p>
            <p style="text-align: justify; color: #757571; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">
                Hi, John! You have successfully placed a new pick up order for your goodies. We will notify you
                when it has been processed. <br /><br />
                All the best.
            </p>
            <p>&nbsp;</p>
            </div>
        </div>
    </body>
</html>
